#menu
{
	position: fixed;
	width: 100%;
	height: 48px;
	background-color: black;
	align-content: center;
}
#menu a 
{
	float: left;
	color: white;
	text-align: center;
	padding: 14px;
	margin-right: 50px;
	text-decoration: none;
	font-size: 20px;
}  
#menu a:hover 
{
	background-color: #ddd;
	color: black;
}
#whitebeard_logo{
	float: right;
}
#about{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
}
#first{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
}
#photos{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
}
#playlist{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
}
#whitebeard_photos{
	justify-items: center;
	align-items: center;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(5, 10fr);
	max-width: 1000px;
	max-height: 500px;

}
#whitebeard_photos :hover {
    z-index: 1;
    transform: scale(2);
}
.whitebeardPhotos{
	display: flex;
	align-items: center;
	max-width: 100%;
}
h2{
	text-align: center;
	font-family:'Segoe UI';
	font-weight: bold;
	font-size: 50px;
	margin: 0
}
.underline_location{
	display: block;
	margin-left: auto;
	margin-right: auto;
	mix-blend-mode: multiply;
}
